.favorite{
    width: 100%;
    background: #031F3D;
    border-radius: 1rem;
    margin-left: 2rem;
}
.favorite-title{
    padding-left: 4rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-top: 1rem;
    color: #fff;
}